.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: #444;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
}

.list ul:first-child{
  background-color: transparent !important;
}

.list ul:first-child li:first-child{
    border-top-left-radius: 15px;
}

.list ul:first-child li:last-child{
    border-top-right-radius: 15px;
}

.list ul:last-child li:first-child{
    border-bottom-left-radius: 15px;
}

.list ul:last-child li:last-child{
    border-bottom-right-radius: 15px;
}

.list ul:nth-child(odd) {
  background-color:#ddd;
}

.list ul:nth-child(even) {
  background-color:#fff;
}

.list-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list-input [type]{
    border: 1px solid #d2d6db;
    border-radius: 6px;
    background: var(--inactive-color);
    color: var(--body-color);
    padding: 15px;
    margin: 5px 0;
    min-width: 50px;
    width: 100%;
}

.list-input [type]:hover {
    border-color: #a8afb9;
}

.list-buttons {
    border: none;
    color: var(--button-color);
    background-color: #444;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 14px;
}

.no-content-list{
    border: solid 1px #ccc;
    display: block;
    list-style: none;
    margin: 1em;
    padding: 0.5em 1em;
    line-height: 12;
    text-align: center;
    width: 100%;
    height: 200px;
    background: var(--inactive-color);
    color: var(--body-color);
    border-radius: 10px;
}

.add-buttons{
    border: none;
    background-color: transparent;
}

/* big */
@media screen and (min-width:600px) {
  
  .list {
    display:table;
  }
 
  .list ul {
    display:table-row;
  }
  
  .list ul:first-child li {
    background-color:#444;
    color:#fff;
  }
  
  .list ul > li {
    display:table-cell;
    padding:.75em 0.5em;
  }

  .food-header{
    display: none;
  }

  
  
}

/* small */
@media screen and (max-width:599px) {

  .list ul {
    border: solid 1px #ccc;
    display: block;
    list-style: none;
    margin: 1em 0;
    padding: 0.5em 1em;
    border-radius: 10px;
  }
  
  .list ul:first-child {
    display:none;
  }
  
  .list ul > li {
    display:block;
    padding:.25em 0;
  }
  
  .list ul:nth-child(odd) > li + li {
    border-top:solid 1px #ccc;
  }
  
  .list ul:nth-child(even) > li + li {
    border-top:solid 1px #eee;
  }
  
  .list ul > li:before {
    color:#4f6185;
    content:attr(data-label);
    display:inline-block;
    font-size:75%;
    font-weight:bold;
    text-transform:capitalize;
    vertical-align:top;
  }
  .list p{
    float: left;
    width: 50%;
  }
  .list p:nth-child(2) {
    width: 62%;
  }

  .food-header{
    text-align: left;
    padding-left: 2%;
    width: 38% !important;
  }

  
  
}

/* tiny */
@media screen and (max-width:349px) {
    
  .list ul > li:before {
    display:block;
  }
  
  .list p {
    margin:0;
  }
  
}