.diet-modal-content {
  display: flex;
  background-color: var(--active-light-color);
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  margin-top: 5px;
}

.diet-modal-content label{
  padding: 3px 6px;
  font-size: 12px;
  width: 65%;
}

.diet-modal-content label input{
  width: 45%;
  background: var(--alert-bg-color);
  border: 0.5px solid #fff;
  border-radius: 5px;
  text-indent: 5px;
  margin-left: 10px;
}

.dark-mode .diet-modal-content {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}

.dark-mode .diet-edit-button{
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}


.diet-edit-flex{
  display: flex;
  margin-top: 5px;
}

.diet-edit-button{
  border: none;
  background: transparent;
  color: var(--active-color);
  padding-right: 6px;
}

.meal-type-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.meal-type-buttons button{
  width: 48%;
  height: 150px;
  margin: 1%;
  border: 2px solid #b5bfd9;
  border-radius: 10px;
  color: var(--body-color);
  background-color: var(--inactive-color);
}