.diet-modal-content {
  display: flex;
  background-color: var(--active-light-color);
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  margin-top: 5px;
}

.diet-modal-content label{
  padding: 3px 6px;
  font-size: 12px;
}

.diet-modal-content label input{
  width: 28px;
  background: var(--alert-bg-color);
  color: var(--active-button-color);
  border: 0.5px solid #fff;
  border-radius: 5px;
  text-indent: 5px;
  margin-left: 10px;
}

.dark-mode .diet-modal-content {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}

.dark-mode .diet-edit-button{
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}


.diet-edit-flex{
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.diet-edit-button{
  border: none;
  background: transparent;
  color: var(--active-button-color);
  padding-right: 6px;
}

.meal-type-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.meal-type-buttons button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 150px;
  margin: 1%;
  border: 1px solid #fff;
  border-radius: 10px;
  color: var(--body-color);
  background-color: var(--body-bg-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.add-diet-button{
  display: flex;
  position: fixed;
  right: 15px;
  bottom: 85px;
  border-radius: 50%;
  background: rgba(85, 85, 255, 0.6);
  color: white;
  width: 65px;
  height: 65px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}