@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 110px;
}

.profile-box {
	display: flex;
    flex-direction: column;
    align-items: center;
	border: 1px solid #fff;
	background: var(--header-bg-color);
	width: 90%;
	padding: 1rem;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.title {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: var(--body-color);
	padding: 11px;
	border-bottom: 1px solid #d7dbdf;
}

.grid{
	width: 90%;
}

.form-group {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
}

.form-group label {
	color:  var(--body-color);
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}

.form-group [type]{
	border: 1px solid #d2d6db;
	border-radius: 6px;
	background: var(--inactive-color);
	color: var(--body-color);
	padding: 15px;
	margin: 5px 0;
    width: 100%;
}
.form-group [type]:hover{
	border-color: #a8afb9;
}
.form-group [type]:focus{
	border-color: #a8afb9;
}

.form-button {
	font-weight: bold;
	line-height: 19px;
	background: #5850eb;
	border: none;
	padding: 15px 25px;
	border-radius: 6px;
	color: white;
	width: 100%;
	margin-top: 24px;
}
.form-button:hover {
	background: #6e67ee;
}
.form-button:focus {
	background: #4239e8;
}

@media screen and (min-width: 768px) {
	.profile-box {
		margin: 2rem;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 2rem;
	}
}
@media screen and (min-width: 1024px) {
	.profile-box {
		max-width: 80%;
		width: 100%;
	}

	.checkboxes {
		display: flex;
	}
	.checkboxes > :not(:first-child) {
		margin-left: 1rem;
	}

	/* .grid {
		display: grid;
		grid-gap: 24px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 1fr;
	} */


	.fbutton-container {
		text-align: right;
	}

	.fbutton {
		width: auto;
	}
}
